@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');

body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: 'Gabarito', sans-serif;
    font-size: 20px;
  }